<template>
    <form method="POST" action="" @submit.prevent="onSubmit"  class="form-horizontal" role="form">

        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">Code:</label>
            <div class = 'col-sm-10'>
                <input type="text" id="code" name="code" class="form-control" v-model="laClasse.data.code">
                <form-error v-if="erreurs.code" :erreurs="erreurs">
                    {{ erreurs.code[0] }}
                </form-error>
            </div>
        </div>

        <div class="form-group">
            <label for="nom" class="col-sm-2 control-label">Nom:</label>
            <div class = 'col-sm-10'>
                <input type="text" id="nom" name="nom" class="form-control" v-model="laClasse.data.nom">
                <form-error v-if="erreurs.nom" :erreurs="erreurs">
                    {{ erreurs.nom[0] }}
                </form-error>
            </div>
        </div>

        <div class="form-group">
            <label for="groupe" class="col-sm-2 control-label">Groupe:</label>
            <div class = 'col-sm-10'>
                <input type="text" id="groupe" name="groupe" class="form-control" v-model="laClasse.data.groupe">
                <form-error v-if="erreurs.groupe" :erreurs="erreurs">
                    {{ erreurs.groupe[0] }}
                </form-error>
            </div>
        </div>

        <div class="form-group">
            <label for="local" class="col-sm-2 control-label">local:</label>
            <div class = 'col-sm-10'>
                <input type="text" id="local" name="local" class="form-control" v-model="laClasse.data.local">
                <form-error v-if="erreurs.local" :erreurs="erreurs">
                    {{ erreurs.local[0] }}
                </form-error>
            </div>
        </div>


        <div class="form-group">
            <label for="session2" class="col-sm-2 control-label">Session:</label>
            <div class = 'col-sm-10'>
                <v-select label="nom" :options="listeDeSession" v-model="laClasse.data.sessionscholaire"  ></v-select>

                <form-error v-if="erreurs.sessionscholaireid" :erreurs="erreurs">
                    {{ erreurs.sessionscholaireid[0] }}
                </form-error>
            </div>
        </div>

        <div class="form-group">
            <div class = 'col-sm-10'>
                <button class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>

    </form>

</template>


<script>

    import FormError from '../FormError.vue';

    //TODO: changer le load. Prendre VueX pour stocker l'info de la classe que j'ai déjà loadé sur la page d'avant
    export default {
        props: ['id'],
        data () {
          return {
              laClasse: { data: [], liens:[]},
              listeDeSession: [],
              erreurs: '',

          }
        },
        mounted: function () {
            axios.get('http://localhost:8000/api/classes/editApi/'+this.id)
                .then(response => {
                    this.laClasse = response.data
                });
            axios.get('http://localhost:8000/api/sessions/liste')
                .then(response => {
                    this.listeDeSession = response.data;
                })
        },

        methods: {
            onSubmit() {
                axios.post(this.laClasse.liens.update, this.laClasse.data)
                    .then(response => {
                        this.$swal('Changements enregistrés');
                        this.$router.go(-1);
                    })
                    .catch(e => {
                        this.erreurs = e.response.data.errors;
                    });
            }
        },

        components: {
            FormError
        }

    }


</script>