<template>
    <div class="table-responsive">  <!-- voir http://getbootstrap.com/css/#tables-responsive -->
        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Session</th>
                <th>Groupe</th>
                <th>Local</th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>

            </tr>
            </thead>
            <template v-if="classesListe.length > 0">
                <tbody v-for="(uneClasse, index) in classesListe">
                        <classe-ligne v-bind:classe="uneClasse" v-bind:index="index" v-on:deleted="doLigneEfface"  ></classe-ligne>
                </tbody>
            </template>
            <template v-else>
                <p>Aucune classes à afficher</p>
            </template>

        </table>
    </div>

</template>

<script>
    import ClasseLigne from './ClasseLigneComponent.vue'

    export default {
        props: ['classesListe'], //la liste des classes à afficher
        components: {
            ClasseLigne
        },
        methods: {
            doLigneEfface(index) {
                this.classesListe.splice(index,1)
            }
        }

    }
</script>
